<div class="box">
  <div class="box-header">
      <h4>Role List</h4>
      <button routerLink="/role/form" class="btn btn-info" style="float:right">New Role</button>
  </div>
  <div class="box-body">
      <table class="table table-border table-hover col-md-10">
          <thead class="bg-primary">
              <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let data of repo.roleData;">
                  <td>{{data.id}}</td>
                  <td>{{data.name}}</td>
                  <td>{{data.description}}</td>
                  <td>
                      <div ngbDropdown class="d-inline-block">
                          <button type="button" class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>Action</button>
                          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button ngbDropdownItem routerLink="/role/form/{{data.id}}">Edit</button>
                            <button ngbDropdownItem (click)="deleteRow(data.id)">Delete</button>
                          </div>
                        </div>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
  <div class="box-footer">
  </div>
</div>
