<div class="formbox">
  <div class="box-header">
    <h4>Sales</h4>
    &nbsp;<span style="color: black">Add/Update Sales</span>
  </div>
  <form #form="ngForm" (ngSubmit)="submit(form)">
    <input type="hidden" name="id" #id="ngModel" [(ngModel)]="formData.id" />
    <div class="formbox-header text-end">
      <div class="row mb-3">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-4">
              <label class="form-label">Customer Name</label>
            </div>
            <div class="col-md-8">
              <select
                class="form-select"
                name="customerId"
                #customerId="ngModel"
                [(ngModel)]="formData.customerId"
              >
                <option value="-1" selected>-----Select Country-----</option>
                <option
                  *ngFor="let customer of customerList"
                  value="{{ customer.id }}"
                >
                  {{ customer.name }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <div class="col-md-4">
              <label class="form-label">Sales Date</label>
            </div>
            <div class="col-md-8">
              <input
                type="date"
                class="form-control"
                name="salesDate"
                #salesDate="ngModel"
                [(ngModel)]="formData.salesDate"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-4">
              <label for="" class="form-label">Status</label>
            </div>
            <div class="col-md-8">
              <select
                class="form-select"
                name="status"
                #status="ngModel"
                [(ngModel)]="formData.status"
              >
                <option value="-1" selected>-----Select State-----</option>
                <option *ngFor="let sts of statusArray" value="{{ sts }}">
                  {{ sts }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <div class="col-md-4">
              <label class="form-label">Invoice No.</label>
            </div>
            <div class="col-md-8">
              <input
                type="text"
                class="form-control"
                name="invoiceNo"
                #invoiceNo="ngModel"
                [(ngModel)]="formData.invoiceNo"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="formbox-body">
      <!-- item search box-->
      <div class="row mb-3">
        <div class="col-md-8 offset-md-2">
          <div class="input-group">
            <input
              id="typeahead-focus"
              type="text"
              class="form-control"
              [(ngModel)]="singleItemEntity"
              [ngbTypeahead]="search"
              (focus)="focus$.next($any($event).target.value)"
              (click)="click$.next($any($event).target.value)"
              [inputFormatter]="formatter"
              [resultFormatter]="formatter"
              #instance="ngbTypeahead"
              [ngModelOptions]="{ standalone: true }"
            />
            <a
              class="btn btn-info input-group-append"
              (click)="SelectedItem(singleItemEntity)"
              >Add</a
            >
          </div>
        </div>
      </div>
      <div class="row">
        <table class="table table-hover table-bordered table-responsive-md">
          <thead>
            <tr class="row bg-primary text-center">
              <th class="col-md-2">Item Name</th>
              <th class="col-md-2">Quantity</th>
              <th class="col-md-2">Sales Price</th>
              <th class="col-md-2">Discount</th>
              <th class="col-md-1">Tax Amount</th>
              <th class="col-md-2">Total Amount</th>
              <th class="col-md-1">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let salesDetails of formData.salesDetails; let i = index"
              class="row"
            >
              <td class="col-md-2">
                <input
                  type="number"
                  style="display: none"
                  name="itemId"
                  [(ngModel)]="salesDetails.itemId"
                />
                <label>{{ getItemName(salesDetails.itemId) }}</label>
              </td>

              <td class="col-md-2">
                <div class="input-group">
                  <button
                    (click)="decrement_qty(i)"
                    type="button"
                    class="btn btn-flat"
                  >
                    <i class="fa fa-minus text-danger"></i>
                  </button>
                  <input
                    type="number"
                    class="form-control text-center"
                    style="width: 50px; border-radius: 4px"
                    name="salesQty"
                    [value]="salesDetails.salesQty"
                    (keyup)="changedQty($event.target, i)"
                  />
                  <button
                    (click)="increment_qty(i)"
                    type="button"
                    class="btn btn-flat"
                  >
                    <i class="fa fa-plus text-success"></i>
                  </button>
                </div>
              </td>
              <!-- Sales price  with discount and Tax-->
              <td class="col-md-2">
                <!-- <input
                          type="number"
                          class="form-control text-center"
                          name="salesPrice"
                          [value]="salesPrice"
                          standalone="true"
                          [ngModelOptions]="{ standalone: true }"
                        /> -->
                <label>{{ salesPrice }}</label>
              </td>

              <td class="col-md-2">
                <!-- <input
                          type="number"
                          Readonly
                          style="width: 90%;"
                          class="form-control text-center"
                          name="discount"
                          [value]="discountAmount"
                        /> -->
                <label for="">{{ discountAmount }}</label>
              </td>

              <td class="col-md-1">
                <!-- <input
                          type="number"
                          Readonly
                          style="width: 90%;"
                          class="form-control text-center"
                          name="taxAmount"
                          [value]="taxAmount"
                        /> -->
                <label>{{ taxAmount }}</label>
              </td>

              <td class="col-md-2">
                <input
                  type="number"
                  Readonly
                  style="width: 90%"
                  class="form-control text-center"
                  name="totalAmount"
                  [(ngModel)]="salesDetails.totalAmount"
                  [value]="salesDetails.salesQty * salesPrice"
                />
              </td>
              <td class="col-md-1">
                <a
                  class="btn btn-sm btn-warning"
                  (click)="removeAttachedItem(i)"
                  >Remove</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- middle-area  -->
    <div class="formbox-calculation">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 control-label text-end">Quantity</label>
            <div class="col-sm-4">
              <input
                type="number"
                readonly
                class="lblInput"
                name="totalQuantity"
                #totalQuantity="ngModel"
                [(ngModel)]="formData.totalQuantity"
              />
            </div>
          </div>
          <div class="row text-end">
            <div class="col-md-12">
              <div class="form-group row">
                <label for="other_charges_input" class="col-sm-4 control-label"
                  >Other Charges</label
                >
                <div class="col-sm-4">
                  <input
                    type="number"
                    class="form-control"
                    name="otherCharges"
                    #otherCharges="ngModel"
                    [(ngModel)]="formData.otherCharges"
                  />
                </div>
                <div class="col-sm-4">
                  <select class="form-select" onchange="final_total();">
                    <option>None</option>
                    <option value="4">Vat 5%</option>
                    <option value="5">Tax 10%</option>
                    <option value="6">Tax 18%</option>
                    <option value="13">None</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row text-end">
            <label for="sales_note" class="col-sm-4 control-label">Note</label>
            <div class="col-sm-8">
              <textarea
                class="form-control"
                name="note"
                #note="ngModel"
                [(ngModel)]="formData.note"
              ></textarea>
            </div>
          </div>
        </div>

        <!-- calculation-area  -->
        <div class="col-md-6 boldClass">
          <div class="row mb-3">
            <div class="col-md-6 text-end offset-md-1">
              <label for="">Subtotal</label>
            </div>
            <div class="col-md-2 offset-md-1 text-end">
              <input
                readonly
                class="lblInput"
                type="number"
                name="subTotal"
                #subTotal="ngModel"
                [(ngModel)]="formData.subTotal"
              />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-6 text-end offset-md-1">
              <label>Other Charges </label>
            </div>
            <div class="col-md-2 offset-md-1 text-end">
              <input
                readonly
                type="number"
                class="lblInput"
                name="otherCharges"
                [(ngModel)]="formData.otherCharges"
              />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-6 text-end offset-md-1">
              <label>Grand Total </label>
            </div>
            <div class="col-md-2 offset-md-1 text-end">
              <input
                value="{{ formData.subTotal + formData.otherCharges }}"
                readonly
                type="number"
                class="lblInput"
                name="grandTotal"
                #grandTotal="ngModel"
                [(ngModel)]="formData.grandTotal"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- payment-area  -->
    <div class="formbox-payment">
      <div class="row jumbotron">
        <div class="box-body">
          <div class="col-md-12">
            <h4 class="box-title text-info">Subtotal :</h4>
            <div class="box box-solid bg-gray">
              <div class="box-body">
                <div class="row mb-3">
                  <div class="col-md-6">
                    <input
                      type="text"
                      class="form-control text-right"
                      style="display: none;"
                      name="id"
                      #id
                      [(ngModel)]="salesPayment.id"
                    />
                    <input
                      type="text"
                      class="form-control text-right"
                      style="display: none;"
                      name="paymentDate"
                      #paymentDate
                      [(ngModel)]="salesPayment.paymentDate"
                      [value]="formData.salesDate"
                    />
                    <input
                      type="text"
                      class="form-control text-right"
                      style="display: none;"
                      name="dueAmount"
                      #dueAmount
                      [(ngModel)]="salesPayment.dueAmount"
                      [value]="formData.grandTotal - salesPayment.amount "
                    />

                    <label for="amount">Amount</label>
                    <input
                      type="text"
                      class="form-control text-right"
                      name="amount"
                      #amount
                      [(ngModel)]="salesPayment.amount"
                    />

                  </div>
                  <div class="col-md-6">
                    <label for="payment_type">Payment Type</label>
                    <select
                      class="form-select"
                      name="paymentType"
                      #paymentType="ngModel"
                      [(ngModel)]="salesPayment.paymentType"
                    >
                      <option value="-1" selected>
                        -----Select State-----
                      </option>
                      <option *ngFor="let sts of paymentTypeArray" value="{{ sts }}">
                        {{ sts }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <label for="payment_note">Payment Note</label>
                    <textarea
                      type="text"
                      class="form-control"
                      name="paymentNote"
                      #paymentNote="ngModel"
                      [(ngModel)]="salesPayment.paymentNote"
                    ></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="formbox-footer">
      <div class="row">
        <div class="col-md-6">
          <button class="btn btn-success" type="submit">Save</button>
        </div>
        <div class="col-md-6">
          <button class="btn btn-secondary">Close</button>
        </div>
      </div>
    </div>
  </form>
</div>
