<div class="box">
    <div class="box-header">
        <h4>Item List</h4>
        <button routerLink="/item/form" class="btn btn-info" style="float:right" ngbTooltip="Add new item">New Item</button>
    </div>
    <div class="box-body">
        <table class="table table-border table-hover col-md-10">
            <thead class="bg-primary">
                <tr>
                    <th>ItemCode</th>
                    <th>Name</th>
                    <th>SKU</th>
                    <th>Profit Margin</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of repo.itemData; let i = index; trackBy:updateLastAction">
                    <td>{{data.itemCode}}</td>
                    <td>{{data.name}}</td>
                    <td>{{data.sku}}</td>
                    <td>{{data.profitMargin | percent}}</td>
                    <td>{{data.description}}</td>
                    <td>
                        <img src="{{data.imagePath}}" alt="product image" width="50px" height="50px"> 
                    </td>
                    <td>
                        <div ngbDropdown class="d-inline-block">
                            <button type="button" class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>Action</button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                              <button ngbDropdownItem routerLink="/item/form/{{data.id}}">Edit</button>
                              <button ngbDropdownItem (click)="deleteRow(data.id)">Delete</button>
                            </div>
                          </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="box-footer">
    </div>
  </div>